<!--/////////////////////////////////////////////////////////////////////////////////////////////////
    Index: PROGRESS VIEW

    Author: Rachel Hoffman
    Description: This is page is for the a user to look at their progress of their goals they set.
 ////////////////////////////////////////////////////////////////////////////////////////////////////-->


@model IEnumerable<WeWorkOut.Models.Goal>
@{
    ViewData["Title"] = "Progress Measurment";
}

<link rel="stylesheet" href="~/css/progress.css" />
<script src="~/js/progress.js"></script>

<h1>My Progress</h1>

@foreach (var item in Model)
{
    int goalID = (int)item.GoalID;
    int exerciseID = (int)item.Exercise.ExerciseID;
    string exerciseName = item.Exercise.Name;
    double quantity = item.MeasurementQuantity;
    string measurementType = item.MeasurementType;

    string units = "";
    switch (measurementType)
    {
        case "Weight":
            units = (string)TempData["WeightUnits"];
            break;
        case "Distance":
            units = (string)TempData["DistanceUnits"];
            break;
        case "Reps":
            units = (string)TempData["RepsUnits"];
            break;
        case "Time":
            units = (string)TempData["TimeUnits"];
            break;
    }

    string deadline = item.Deadline?.ToString("yyyy/MM/dd") ?? "(None)";

    string caption = "Goal: " + exerciseName + " " + quantity + " " + units + ".  Deadline: " + deadline;

    <div class="card card-body">
        @caption

        @*<button type="button" data-toggle="collapse" data-target="#collapse @item.GoalID" aria-expanded="false" aria-controls="collapse @item.GoalID">>Expand</button>*@
        <button type="button" class="collapsible" onclick="open_collapsible(@goalID, '@exerciseID', '@exerciseName', @quantity, '@measurementType', '@deadline')">Open Collapsible</button>
        <div id=@("collapsible_" + goalID) class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>


    </div>

}

<script></script>
<!--Create some kind of Foreach loop of the goals that creates a bar area with the text and then the collapse button-->
<!--In the collapse area, have the graph be featured here.-->
