.goals_table{
    margin-top: 20px;
}

.goal_create{
    background-color:lightblue;
    padding: 10px;
    padding-bottom: 85px;
    border-radius: 10px;
}

input, label {
    display: block;
}

.form_section {
    float: left;
    padding: 10px;
}