@model IEnumerable<WeWorkOut.Models.ExerciseRecord>

@{
    ViewData["Title"] = "Exercise Records";
}

<link rel="stylesheet" href="~/css/records.css" />

<h1>My Records</h1>

<div class="record_create">
    <h3>Add a record</h3>
    <form>
        <div class="form_group">
            <label>Exercise</label>
            <select name="exercises">
                <option value="noneSelected"></option>
                @foreach (Exercise e in (List<Exercise>)ViewData["ExerciseOptions"])
                {
                    <option value=@e.Name>@e.Name</option>
                }
            </select>
        </div>
        <div class="form_group">
            <label>Distance (miles)</label>
            <input type="number" name="quantity" />
        </div>
        <div class="form_group">
            <label>Time (minutes)</label>
            <input type="number" name="quantity" />
        </div>
        <div class="form_group">
            <button>Add</button>
        </div>
    </form>    
</div>
<div>
    <a>Change Units</a>
</div>


<table class="table table-striped table-bordered records_table">
    <thead class="thead-dark">
        <tr>
            <th>Exercise</th>
            <th>Submit Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitDate)
            </td>
            <td>
                <form>
                    <button>Modify</button>
                    <button>Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
