
@{
    ViewData["Title"] = "About";
}

    <div class="text-center">

        <h1>About</h1>
        <p>Here is where we will put info on our application, including the tutorial on how to use it.</p>
        <p>There are currently two accounts automatically seeded to the DB, Jane_Doe@example.com and John_Doe@example.com</p>
        <p>Both accounts' passwords are aA123!@@# Odds are nobody malicious will find this site and abuse that (hooray security through obscurity).</p>

    </div>
